<style type="text/css">
<!--
-->
</style>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<style type="text/css">
<!--
.STYLE4 {font-size: 24px}
-->
</style>
<title>魔法炮OJ</title><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1 align="center"><p style="color:#3399FF"><font size="60px" face="Comic Sans MS">Welcome to MFPOJ! </font></p>
				</h1>
		  </div>
		</div>
	</div>
	
{% include "footer.html"%}
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<center><font color=#D6AAFF><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>  
  <p>Your IP: {{ip}} | Users online: <span id="busuanzi_value_site_uv"></span></p></font></center>
</div>
