<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {font-size: 18px}
-->
</style>

{% include "header.html"%}
<title>修改信息 - 魔法炮OJ</title>
<form method="post" action="{% url 'modify' %}">
{% csrf_token %}
<center><table width="426" height="237">
<tr><td width="45%" height="23" class="STYLE1">Username:
  </td>
  <td width="55%" class="STYLE1">{{name}}</td>
</tr>
<tr>
  <td height="26" class="STYLE1">Nickname:</td><td><input type="text" name="nickname" class="STYLE1"/>
</td></tr>
<tr>
  <td height="26" class="STYLE1">Old Password: </td>
  <td><input type="password" name="opassword" class="STYLE1"/>  </td>
</tr>
<tr>
  <td height="30" class="STYLE1">New Password: </td>
  <td><input type="password" name="password" class="STYLE1"/>
  </td>
</tr>
<tr>
  <td height="27" class="STYLE1">New Password Again: </td>
  <td><input type="password" name="password2" class="STYLE1"/>
  </td>
</tr>
<tr>
  <td height="29" class="STYLE1">School: </td>
  <td><input type="text" name="school" class="STYLE1"/>  </td>
</tr>

<tr>
  <td height="26" class="STYLE1">Email:  </td>
  <td><input type="text" name="email" class="STYLE1"/>
</td></tr>
<tr><td>
  </td><td><input type="submit" value="Modify" class="STYLE1"/>
</td></tr>
</table>
</center>
</form>
<p align="center" class="STYLE1">{{ error_message }}</p>

{% include "footer.html"%}
