{% load quotient %}
<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<title>排行榜 - 魔法炮OJ</title>
<style type="text/css">
<!--
.STYLE2 {
	font-family: "Comic Sans MS";
	font-size: 14px;
}
-->
</style>

<center><table width="90%"><tbody>
  <tr><td colspan="3" align="left">
    </td><td colspan="3" align="right"></td></tr>
    <tr>
      <td align="center" width="10%"><b>Rank</b>
      </td><td align="center" width="20%"><b>Username</b>
      </td><td align="center" width="40%"><b>Nickname</b>
      </td><td align="center" width="10%"><b>AC</b>
      </td><td align="center" width="10%"><b>Submit</b>
      </td><td align="center" width="10%"><b>Ratio</b></td></tr>
     {% for user in all_user_list %}
         {% if user in user_list %}
	      <tr>
	      <td align="center">{{ forloop.counter }}</td>
			{% if user.root == 1 %}
				<td align="center"><a style=" text-decoration: none; color: #ff0000;"href="{% url 'user' user.username %}">{{user.username}}</a></td>
			{% else %}
				<td align="center"><a style=" text-decoration: none; color: #444;"href="{% url 'user' user.username %}">{{user.username}}</a></td>
			{% endif %}
	      <td align="center">{{user.nickname}}</td>
	      <td align="center">{{user.ac}}</td>
	      <td align="center">{{user.submit}}</td>
	      <td align="center">{{user.ac|quotient:user.submit}}%</td>
	    </tr>
	  {% endif %}
   {% endfor %} 
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</table>

<style type="text/css">
.center{text-align:center;}
</style> 
	<link href="../../static/css/page.css" rel="stylesheet" type="text/css" />
	<div class="gl_wrap">
	<div class="center">
	  <div class="pagination">
	     	 {% if user_list.has_previous %}
	         	<li><a title='上一页' href='?page={{ user_list.previous_page_number }}'><</a></li>
			 {% else %}
			 {% endif %}
			 {% for page in user_list.paginator.page_range %}
			     {% if page == user_list.number %}
			     	 <li class="active"><a title='当前页:{{ page }}'>{{page}}</a></li>
			     {% elif page >= page_l and page <= page_r %}
			     	 <li><a title='{{ page }}' href='?page={{ page }}' title='{{ page }}'>{{page}}</a></li>
			     {% else %}
			     {% endif %}
			 {% endfor %}
			 {% if user_list.has_next %}
			   	 <li><a title='下一页' href='?page={{ user_list.next_page_number }}'>></a></li>
 			 {% else %}
			 {% endif %}
	  </div>
	</div>
	</div>
   
<p>&nbsp;</p>
{% include "footer.html"%}
   
