<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<div class="container">
<title>提交状态 - 魔法炮OJ</title>

<table class="table table-striped b-t text-sm m-b-none">
        <thead>
          <tr>
            <th>RunID</th>
            <th>Problem</th>
            <th class="run-username">Username</th>
            <th class="run-status">Result</th>
            <th class="run-time">Time</th>
            <th class="run-memory">Memory</th>
            <th class="run-format">Language</th>
            <th class="run-codelength">Length</th>
            <th class="run-datetime">Submit_Time</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submission_list %}
  <tr>
    <td>{{submission.id}}</td>
    <td><a style=" text-decoration: none; color: #444;" href="{% url 'problem' submission.problem.id %}" title="">{{submission.problem.id}}</a></td>
		
		<td><a style=" text-decoration: none; color: #444;" href="{% url 'user' submission.user.username %}" title="">{{submission.user.username}}</a></td>
    
 {% if submission.status == "Accepted" %}
    <td><font color=#009100>{{submission.status}}</font></td>
 {% elif submission.status == "Compile Error" %}
    <td><font color=#0000E3>{{submission.status}}</font></td>
 {% elif submission.status == "Pending" %}
    <td><font color=#EAC100>{{submission.status}}</font></td>
 {% else %}
    <td><font color=#FF0000>{{submission.status}}</font></td>
 {% endif %}
 
    <td>{{submission.time_used}}</td>
    <td>{{submission.memory_used}}</td>
    <td>{{submission.language}}</td>
    <td>unknown</div></td>
    <td>unknown</div></td>
  </tr>{% endfor %} 
  
            <td>
            </td>
            <td>            
            </td>
            <td>
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
  
</table>
	<!--分页大法开启-->
 {% if submission_list.has_previous %}
        <a class='paginator' title='上一页' href='?page={{ submission_list.previous_page_number }}'><span>&lt;&lt;</span></a>
 {% endif %}
 {% for page in submission_list.paginator.page_range %}
     {% if page == submission_list.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
     
 {% endfor %}
 {% if submission_list.has_next %}
     <a class='paginator' title='下一页' href='?page={{ submission_list.next_page_number }}'><span>&gt;&gt;</span></a>
 {% endif %}
	<!--分页大法结束-->
</div>
<p>&nbsp;</p>

