<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<div class="container">
<title>提交状态 - 魔法炮OJ</title>

<table class="table table-striped b-t text-sm m-b-none">
        <thead>
          <tr>
            <th style="text-align:center;">RunID</th>
            <th style="text-align:center;">Problem</th>
            <th style="text-align:center;">Username</th>
            <th style="text-align:center;">Result</th>
            <th style="text-align:center;">Score</th>
            <th style="text-align:center;">Time</th>
            <th style="text-align:center;">Memory</th>
            <th style="text-align:center;">Language</th>
            <th style="text-align:center;">Length</th>
            <th style="text-align:center;">Submit_Time</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submission_list %}
  <tr>
    <td align=center>{{submission.id}}</td>
    <td align=center><a style=" text-decoration: none; color: #444;" href="{% url 'problem' submission.problem.id %}" title="">{{submission.problem.id}}</a></td>
		
		<td align=center><a style=" text-decoration: none; color: #444;" href="{% url 'user' submission.user.username %}" title="">{{submission.user.username}}</a></td>
		
 {% if submission.from_contest != 0 and nowtime >= submission.contest_start_time|date:"Y-m-d H:i:s" and nowtime <= submission.contest_end_time|date:"Y-m-d H:i:s" and root == 0 %}
    <td align=center><font color=#8E7479>Hidden</font></td>
 {% elif submission.status == "Accepted" %}
    <td align=center><font color=#009100>{{submission.status}}</font></td>
 {% elif submission.status == "Compile Error" %}
    <td align=center><font color=#0000E3>{{submission.status}}</font></td>
 {% elif submission.status == "System Error" %}
    <td align=center><font color=#000000>{{submission.status}}</font></td>
 {% elif submission.status == "Pending" %}
    <td align=center><font color=#EAC100>{{submission.status}}</font></td>
 {% else %}
    <td align=center><font color=#FF0000>{{submission.status}}</font></td>
 {% endif %}
 
 {% if submission.from_contest != 0 and nowtime >= submission.contest_start_time|date:"Y-m-d H:i:s" and nowtime <= submission.contest_end_time|date:"Y-m-d H:i:s" and root == 0 %}
    <td align=center><b><font color=#8E7479>?</font></b></td>
 {% elif submission.score == 100 %}
    <td align=center><b><font color=#009100>{{submission.score}}</font></b></td>
 {% elif submission.score == 0 %}
    <td align=center><b><font color=#FF0000>{{submission.score}}</font></b></td>
 {% else %}
    <td align=center><b><font color=#EAC100>{{submission.score}}</font></b></td>
 {% endif %}
    
 {% if submission.from_contest != 0 and nowtime >= submission.contest_start_time|date:"Y-m-d H:i:s" and nowtime <= submission.contest_end_time|date:"Y-m-d H:i:s" and root == 0 %}
    <td align=center>?</td>
 {% else %}
    <td align=center>{{submission.time_used}}</td>
 {% endif %}
 
 {% if submission.from_contest != 0 and nowtime >= submission.contest_start_time|date:"Y-m-d H:i:s" and nowtime <= submission.contest_end_time|date:"Y-m-d H:i:s" and root == 0 %}
    <td align=center>?</td>
 {% else %}
    <td align=center>{{submission.memory_used}}</td>
 {% endif %}
{% if name == submission.user.username or root%}
    <td align=center><a style=" text-decoration: none; color: #005AB5;" href="{% url 'code' submission.id %}" title="">{{submission.language}}</a></td>
{% else %} <td align=center>{{submission.language}}</td>
{% endif %}

    <td align=center>{{submission.length}} B</div></td>
    <td align=center>{{submission.submit_time|date:"Y-m-d H:i:s"}}</div></td>
  </tr>{% endfor %} 
  
            <td>
            </td>
            <td>            
            </td>
            <td>
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
  
</table>

<style type="text/css">
.center{text-align:center;}
</style> 
	<link href="../../static/css/page.css" rel="stylesheet" type="text/css" />
	<div class="gl_wrap">
	<div class="center">
	  <div class="pagination">
	     	 {% if submission_list.has_previous %}
	         	<li><a title='上一页' href='?page={{ submission_list.previous_page_number }}'><</a></li>
			 {% else %}
			 {% endif %}
			 {% for page in submission_list.paginator.page_range %}
			     {% if page == submission_list.number %}
			     	 <li class="active"><a title='当前页:{{ page }}'>{{page}}</a></li>
			     {% elif page >= page_l and page <= page_r %}
			     	 <li><a title='{{ page }}' href='?page={{ page }}' title='{{ page }}'>{{page}}</a></li>
			     {% else %}
			     {% endif %}
			 {% endfor %}
			 {% if submission_list.has_next %}
			   	 <li><a title='下一页' href='?page={{ submission_list.next_page_number }}'>></a></li>
 			 {% else %}
			 {% endif %}
	  </div>
	</div>
	</div>

{% include "footer.html"%}
</div>
<p>&nbsp;</p>

