<style type="text/css">
<!--
-->
td  
{  
 white-space: nowrap;  
}  
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<style type="text/css">
<!--
.STYLE4 {font-size: 24px}
-->
</style>
<title>个人信息 - 魔法炮OJ</title><div class="container">
<center>
<table>
<font size=4>
<tr><td><b>Username:&nbsp;&nbsp;&nbsp;</b></td><td>{{user.username}}</td></tr>
<tr><td><b>Nickname:&nbsp;&nbsp;&nbsp;</b></td><td>{{user.nickname}}</td></tr>
<tr><td><b>School:&nbsp;&nbsp;&nbsp;</b></td><td>{{user.school}}</td></tr>
<tr><td><b>Email:&nbsp;&nbsp;&nbsp;</b></td><td>{{user.email}}</td></tr>
<tr><td><b>Root:&nbsp;&nbsp;&nbsp;</b></td><td>{% if user.root == True %}√{% else %}×{% endif %} </td></tr>
</font>
</table>
</center>
<!-- <font color=#FF0000>PASSWORD: {{user.password}}</font> 蛤蛤<br> -->
<br>
{% include "footer.html"%}
</div>
