<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
						 	 <a href="/">Home</a>
						</li>
						<li>
							 <a href="/problemset/">Problems</a>
						</li>
						<li>
							 <a href="/status/">Status</a>
						</li>
						<li>
							 <a href="/ranklist/">Ranklist</a>
						
					</ul>
					
					{% if len == 0 %}
							<ul class="nav navbar-nav navbar-right">
								<li>
									 <a href="/login">Login</a>
								</li>
								<li>
									 <a href="/register">Register</a>
								</li>
							</ul>
					{% else %}
							<ul class="nav navbar-nav navbar-right">
								<li>
									 <a href="/modify/">ModifyUser</a>
								</li>
								<li>
									 <a href="/"><font color=#FF0000><B>{{name}}</B></font></a>
								</li>
								<li>
									 <a href="/logout">Logout</a>
								</li>
							</ul>
					{% endif %}
				</div>
			</nav>
		</div>
	</div>
	
</div>
