<style type="text/css">
<!--
-->
</style>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE4 {font-size: 24px}
-->
</style>
<title>魔法炮OJ</title><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			{% include "header.html"%}
			<div class="jumbotron">
				<h1 align="center"><p style="color:#3399FF"><font size="60px" face="Comic Sans MS">Welcome to MFPOJ! </font></p>
				</h1>
		  </div>
		</div>
	</div>
	
</div>