<style type="text/css">
<!--
-->
</style>


<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<title>题目列表 - 魔法炮OJ</title><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					<font face="楷体">魔法炮OJ				</font></h1>
				<p><font face="黑体">大家好，我是我是魔法炮</font></p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">Learn more</a>				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>{% for problem in problem_list %} <a href="file:///D|/mfpoj-master/oj/templates/problem.html"></a></h2>
			<h2><a href="{% url 'problem' problem.id %}"> {{ problem.title }} </a></h2>
			<p>{% endfor %} </p>
	  </div>
	</div>
	
	<!--分页大法开启-->
 {% if problem_list.has_previous %}
        <a class='paginator' title='上一页' href='?page={{ problem_list.previous_page_number }}'><span>&lt;&lt;</span></a>
 {% endif %}
 {% for page in problem_list.paginator.page_range %}
     {% if page == problem_list.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
     
 {% endfor %}
 {% if problem_list.has_next %}
     <a class='paginator' title='下一页' href='?page={{ problem_list.next_page_number }}'><span>&gt;&gt;</span></a>
 {% endif %}
	<!--分页大法结束-->
	
</div>
