<style type="text/css">
<!--
-->
</style>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
<title>魔法炮OJ</title><div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			{% include "header.html"%}
			<div class="jumbotron">
				<h1>
					<font face="楷体">魔法炮OJ				</font></h1>
				<p><font face="黑体">大家好，我是我是魔法炮</font></p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">Learn more</a>				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h2>{% for problem in problem_list %} <a href="file:///D|/mfpoj-master/oj/templates/problem.html"></a></h2>
			<h2><a href="{% url 'problem' problem.id %}"> {{ problem.title }} </a></h2>
			<p>{% endfor %} </p>
	  </div>
	</div>
</div>
