<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			{% include "header.html"%}
			<div class="jumbotron">
				<h1 align="center"><span class="STYLE1">{{ problem.title }} </span></h1>
				<p><span class="STYLE2">{{ problem.description }} </span></p>
				<p align="center">
					 <a class="btn btn-primary btn-large" href="{% url 'submit' problem.id %}">Submit</a>				</p>
		  </div>
		</div>
	</div>
	
</div>
