<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<style type="text/css">
<!--
.STYLE1 {font-size: 18px}
.STYLE2 {font-size: 18px; font-family: Georgia, "Times New Roman", Times, serif; }
-->
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
</head>

{% include "header.html"%}
<body>
<h1 align="center" class="STYLE1"><br>
  <a href="http://127.0.0.1:8000/online/regist/"></a></h1>
<h1 align="center" class="STYLE1">Username:
  <input type="text" name="problem_id" />
</h1>
<p align="center" class="STYLE1"> Password:
  <input type="text" name="problem_id2" />
</p>
<p align="center" class="STYLE1">Password Again:
  <input type="text" name="problem_id22" />
</p>
<p align="center" class="STYLE1">  <a class="btn btn-primary btn-large" href="/register">Register</a></p>
</body>
</html>