<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<style type="text/css">
<!--
.STYLE1 {font-size: 18px}
.STYLE2 {font-size: 18px; font-family: Georgia, "Times New Roman", Times, serif; }
-->
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册 - 魔法炮OJ</title>
</head>

{% include "header.html"%}
<body>
<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<h1 align="center" class="STYLE1"> Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="username" />
</h1>
<p align="center" class="STYLE1"> Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="password" name="password" />
</p>
<p align="center" class="STYLE1">Password Again:
  <input type="password" name="password2" />
</p>
<p align="center" class="STYLE1">&nbsp;<input type="submit" value="Register" /></p>
</form>
<p align="center" class="STYLE1">{{ error_message }}</p>
</body>
</html>
