<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<style type="text/css">
<!--
.STYLE1 {font-size: 18px}
.STYLE2 {font-size: 18px; font-family: Georgia, "Times New Roman", Times, serif; }
-->
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册 - 魔法炮OJ</title>
</head>

{% include "header.html"%}
<form method="post" action="{% url 'register' %}">
{% csrf_token %}
<center><table>
<tr><td width="45%">Username:
  </td><td width="55%"><input type="text" name="username" />
</td></tr>
<tr><td>Password:
  </td><td><input type="password" name="password" />
</td></tr>
<tr><td>Password Again:
  </td><td><input type="password" name="password2" />
</td></tr>
<tr><td>
  </td><td><input type="submit" value="Register" />
</td></tr>
</table></center>
</form>
<p align="center" class="STYLE1">{{ error_message }}</p>
</html>
