<style type="text/css">
<!--
-->
</style>
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<title>提交状态 - 魔法炮OJ</title>

<p>&nbsp;</p>
 <table width="1023" height="232" border="0">
  <tr>
    <td width="110" height="40"><div align="center">RunID</div></td>
    <td width="185"><div align="center">Username</div></td>
    <td width="100"><div align="center">Problem</div></td>
    <td width="200"><div align="center">Result</div></td>
    <td width="56"><div align="center">Memory</div></td>
    <td width="40"><div align="center">Time</div></td>
    <td width="151"><div align="center">Language</div></td>
    <td width="45"><div align="center">Length</div></td>
    <td width="95"><div align="center">Submit_Time</div></td>
  </tr>
  {% for submission in submission_list %}
  <tr>
    <td><div align="center">{{submission.id}}</div></td>
    <td><div align="center">{{submission.user.username}}</div></td>
    <td><div align="center">{{submission.problem.id}}</div></td>
    <td><div align="center">{{submission.status}}</div></td>
    <td><div align="center">{{submission.memory_used}}</div></td>
    <td><div align="center">{{submission.time_used}}</div></td>
    <td><div align="center">{{submission.language}}</div></td>
    <td><div align="center">&nbsp;</div></td>
    <td><div align="center">&nbsp;</div></td>
  </tr>{% endfor %} 
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
