<style type="text/css">
<!--
-->
</style>


<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
<title>比赛列表 - 魔法炮OJ</title>
<div class="container">
	
	
<table class="table table-striped m-b-none">
      <thead>
        <tr>
            <th></th>
            <th class="contest-id"><span>ID</span></th>
            <th>Title</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
        </tr>    
      </thead>
      <tbody>
         
   {% for contest in contest_list %}
		{% for contest_user in contest.contestuser_set.all %}
  	     {% if contest_user.user.username == name %}
         	{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" %}
		   	 <style> .table-striped > tbody > tr:nth-of-type({{forloop.parentloop.counter}}) {background-color: #FDFFAA;} </style>
  		    {% else %} 
		   	 <style> .table-striped > tbody > tr:nth-of-type({{forloop.parentloop.counter}}) {background-color: #CEFFCE;} </style>
  		    {% endif %}
  		 {% endif %}
  		{% endfor %}
        <tr>
            <td>
            </td>
           <td>
                    {{contest.id}}
            </td>
            <td>
                
                <a style=" text-decoration: none;" href="{% url 'contest' contest.id %}" title="">
		<style type="text/css">
		a:link {color: #BE77FF} /* 未访问的链接 */
		a:visited {color: #BE77FF} /* 已访问的链接 */
		a:hover {color: #9F35FF} /* 鼠标移动到链接上 */
		a:active {color: #9F35FF} /* 选定的链接 */
		</style>
                    {{contest.title}}</a>
            </td>
            <td> {{ contest.start|date:"Y-m-d H:i:s" }} </td>
            <td> {{ contest.end|date:"Y-m-d H:i:s" }} </td>
{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" %}
            <td><font color=#EAC100> Running </font></td>
{% elif nowtime < contest.start|date:"Y-m-d H:i:s" %}
            <td><font color=#009100> Scheduled </font></td>
{% elif nowtime > contest.end|date:"Y-m-d H:i:s" %}
            <td><font color=#999> Finished </font></td>
{% endif %}
           
        </tr>
      {% endfor %} 
        
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>            
            </td>
            <td>
            </td>
            <td>
            </td>
</table>

{% if contest_list.paginator.page_range|length <= 5 %} 
	<link href="../../static/css/page.css" rel="stylesheet" type="text/css" />
	<div class="container large">
	  <div class="pagination">
	      <ul>
	     	 {% if contest_list.has_previous %}
	         	<li><a title='上一页' href='?page={{ contest_list.previous_page_number }}'></a></li>
			 {% else %}
	         	<li></li>
			 {% endif %}
			 {% for page in contest_list.paginator.page_range %}
			     {% if page == contest_list.number %}
			     	 <li class="active"><a title='当前页:{{ page }}'></a></li>
			     {% else %}
			     	 <li><a title='{{ page }}' href='?page={{ page }}' title='{{ page }}'></a></li>
			     {% endif %}
			 {% endfor %}
			 {% if contest_list.has_next %}
			   	 <li><a title='下一页' href='?page={{ contest_list.next_page_number }}'></a></li>
 			 {% else %}
			     <li></li>
			 {% endif %}
	      </ul>
	  </div>
	</div>
{% else %} 
	<link href="../../static/css/page.css" rel="stylesheet" type="text/css" />
	<div class="container middle">
	  <div class="pagination">
	      <ul>
	     	 {% if contest_list.has_previous %}
	         	<li><a title='上一页' href='?page={{ contest_list.previous_page_number }}'></a></li>
			 {% else %}
	         	<li></li>
			 {% endif %}
			 {% for page in contest_list.paginator.page_range %}
			     {% if page == contest_list.number %}
			     	 <li class="active"><a title='当前页:{{ page }}'></a></li>
			     {% else %}
			     	 <li><a title='{{ page }}' href='?page={{ page }}' title='{{ page }}'></a></li>
			     {% endif %}
			 {% endfor %}
			 {% if contest_list.has_next %}
			   	 <li><a title='下一页' href='?page={{ contest_list.next_page_number }}'></a></li>
 			 {% else %}
			     <li></li>
			 {% endif %}
	      </ul>
	  </div>
	</div>
{% endif %}
	
{% include "footer.html"%}
</div>
