<!DOCTYPE html>
﻿{% load djangomarkdown %}
﻿{% load num2letter %}
<head>
<link href="../../../../static/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js" integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx" crossorigin="anonymous"></script>
{% include "header.html"%}
{% include "contest/contest_header.html"%}
<title>题目描述 - {{contest_id}}{{problem_id_letter}}</title>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
			
{% if nowtime < contest.start|date:"Y-m-d H:i:s" and root == 0 %}
				<h1 align="center">Contest not started!</h1>
{% else %}
				<h1 align="center"><span class="STYLE1">{{ problem.title }} </span></h1>
				<p><span class="STYLE2">{{ problem.description|djangomarkdown }} </span></p>
				<p align="center">
					 <a class="btn btn-primary btn-large" href="{% url 'contest_submit' contest_id=contest_id problem_id=problem_id_letter %}">Submit</a>				</p>
{% endif %}
		  </div>
		</div>
	</div>
	
{% include "footer.html"%}
</div>
<script>
      renderMathInElement(
          document.body,
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
</script>
</body>
