{% load dot %}
<style type="text/css">
<!--
-->
</style>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
{% include "contest/contest_header.html"%}
<div class="container">
<title>比赛排名 - {{contest_id}}</title>

<center>
   <table id='rank' width="100%" style="text-align:center">
                <thead>
                    <tr class="toprow">
                    	<th width="5%" style="text-align:center;">Rank</th>
                    	<th width="10%" style="text-align:center;">Username</th>
                    	<th width="6%" style="text-align:center;">Score</th>
                    	{% for problem in problem_list %}
						<th width='6%' style="text-align:center;">{{problem.number}}</th>
						{% endfor %}
					</tr>
                </thead>
    			 {% for user in all_user_list %}
    			  {% if user in user_list %}
					<tr>
					{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" and root == 0 %}
						<td>?</td>
					{% else %}
						<td>{{forloop.counter}}</td>
					{% endif %}
						<td><a style=" text-decoration: none; color: #444;" href='/user/{{user.user}}/'>{{user.user}}</a></td>
					{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" and root == 0 %}
                        <td><font color=#8E7479><b>?</font></b></td>
					{% else %}
						<td><font color=#221ACE style="font-weight:bold">{{user.score}}</font></td>
					{% endif %}
                    	{% for problem in problem_list %}
					{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" and root == 0 %}
					    {% if user.stat|dot:problem.number == -1 %}
                        <td class='well well-sm'>?</td>
					    {% else %}
                        <td style="background:#FDFFAA" class='well well-sm'>?</td>
                        {% endif %}
					{% else %}
					    {% if user.stat|dot:problem.number == 100 %}
						<td style="background:#CEFFCE" class='well well-sm'>100</td>
					    {% elif user.stat|dot:problem.number == -1 %}
						<td class='well well-sm'>0</td>
						{% else %}
						<td style="background:#FFD2D2" class='well well-sm'>{{user.stat|dot:problem.number}}</td>
						{% endif %}
					{% endif %}
						{% endfor %}
					</tr>             
				 {% endif %} 
				{% endfor %} 
	 </table>

<br>

<style type="text/css">
.center{text-align:center;}
</style> 
	<link href="../../../../static/css/paginator.css" rel="stylesheet" type="text/css" />
	<div class="gl_wrap">
	<div class="center">
	  <div class="pagination">
	     	 {% if user_list.has_previous %}
	         	<li><a title='上一页' href='?page={{ user_list.previous_page_number }}'><</a></li>
			 {% else %}
			 {% endif %}
			 {% for page in user_list.paginator.page_range %}
			     {% if page == user_list.number %}
			     	 <li class="active"><a title='当前页:{{ page }}'>{{page}}</a></li>
			     {% elif page >= page_l and page <= page_r %}
			     	 <li><a title='{{ page }}' href='?page={{ page }}' title='{{ page }}'>{{page}}</a></li>
			     {% else %}
			     {% endif %}
			 {% endfor %}
			 {% if user_list.has_next %}
			   	 <li><a title='下一页' href='?page={{ user_list.next_page_number }}'>></a></li>
 			 {% else %}
			 {% endif %}
	  </div>
	</div>
	</div>

</div>
</center>
<p>&nbsp;</p>
{% include "footer.html"%}

