<style type="text/css">
<!--
-->
</style>
<link href="../../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
{% include "contest/contest_header.html"%}
<div class="container">
<title>比赛提交 - {{contest_id}}</title>

<table class="table table-striped b-t text-sm m-b-none">
        <thead>
          <tr>
            <th style="text-align:center;">RunID</th>
            <th style="text-align:center;">Problem</th>
            <th style="text-align:center;">Username</th>
            <th style="text-align:center;">Result</th>
            <th style="text-align:center;">Score</th>
            <th style="text-align:center;">Time</th>
            <th style="text-align:center;">Memory</th>
            <th style="text-align:center;">Language</th>
            <th style="text-align:center;">Length</th>
            <th style="text-align:center;">Submit_Time</th>
          </tr>
        </thead>
        <tbody>
        {% for submission in submission_list %}
	  <tr>
	    <td align=center>{{submission.id}}</td>
	    <td align=center><a style=" text-decoration: none; color: #444;" href="{% url 'contest_problem' contest_id=contest_id  problem_id=submission.contest_problem.number %}" titlea="">{{submission.contest_problem.number}}</a></td>
	
			<td align=center><a style=" text-decoration: none; color: #444;" href="{% url 'user' submission.user.username %}" title="">{{submission.user.username}}</a></td>
	    
	 {% if submission.status == "Accepted" %}
	    <td align=center><font color=#009100>{{submission.status}}</font></td>
	 {% elif submission.status == "Compile Error" %}
	    <td align=center><font color=#0000E3>{{submission.status}}</font></td>
	 {% elif submission.status == "System Error" %}
	    <td align=center><font color=#000000>{{submission.status}}</font></td>
	 {% elif submission.status == "Pending" %}
	    <td align=center><font color=#EAC100>{{submission.status}}</font></td>
	 {% else %}
	    <td align=center><font color=#FF0000>{{submission.status}}</font></td>
	 {% endif %}
	 
 {% if submission.score == 100 %}
    <td align=center><b><font color=#009100>{{submission.score}}</font></b></td>
 {% elif submission.score == 0 %}
    <td align=center><b><font color=#FF0000>{{submission.score}}</font></b></td>
 {% else %}
    <td align=center><b><font color=#EAC100>{{submission.score}}</font></b></td>
 {% endif %}
 
	    <td align=center>{{submission.time_used}}</td>
	    <td align=center>{{submission.memory_used}}</td>
	   
{% if name == submission.user.username %}
            <td align=center><a style=" text-decoration: none; color: #005AB5;" href="{% url 'code' submission.id %}" title="">{{submission.language}}</a></td>
{% else %} <td align=center>{{submission.language}}</td>
{% endif %}

            <td align=center>{{submission.length}} B</div></td>
            <td align=center>{{submission.submit_time}}</div></td>
	  </tr>
  {% endfor %} 
  
            <td>
            </td>
            <td>            
            </td>
            <td>
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
            <td>            
            </td>
  
</table>
	<!--分页大法开启-->
 {% if submission_list.has_previous %}
        <a class='paginator' title='上一页' href='?page={{ submission_list.previous_page_number }}'><span>&lt;&lt;</span></a>
 {% endif %}
 {% for page in submission_list.paginator.page_range %}
     {% if page == submission_list.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
     
 {% endfor %}
 {% if submission_list.has_next %}
     <a class='paginator' title='下一页' href='?page={{ submission_list.next_page_number }}'><span>&gt;&gt;</span></a>
 {% endif %}
	<!--分页大法结束-->
</div>
<p>&nbsp;</p>

