{% load num2letter %}
<style type="text/css">
<!--
-->
</style>


<link href="../../static/css/style.css" rel="stylesheet" type="text/css" />
{% include "header.html"%}
{% include "contest/contest_header.html"%}
<title>比赛 - {{contest.id}}</title>
<div class="container">
<table class="table table-striped m-b-none">
      <thead>
        <tr>
            <th class="problem-status">
              <i class="fa fa-puzzle-piece"></i>
            </th>
            <th class="problem-id"><span>ID</span></th>
            <th><span>Title</span></th>
            
            <th class="problem-accept">
              
              <span>Accepted
              
            </span></th>
            <th class="problem-submit"> <span>Submit</span></th>
        </tr>
      </thead>
      <tbody>
         
   {% for problem in problem_list %}
{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" %}
       {% if logined == 1 and join == 1 %}
	       {% for i,j in stat.items %}
		   	   {% if i == problem.number %}
		   	 <style> .table-striped > tbody > tr:nth-of-type({{forloop.parentloop.counter}}) {background-color: #FDFFAA;} </style>
		       {% endif %}
	        {% endfor %}
        {% endif %}
{% else %}
       {% if logined == 1 and join == 1%}
	       {% for i,j in stat.items %}
		   	   {% if i == problem.number and j == 100 %}
		   	 <style> .table-striped > tbody > tr:nth-of-type({{forloop.parentloop.counter}}) {background-color: #CEFFCE;} </style>
		   	   {% elif i == problem.number and j != 100 %}
		   	 <style> .table-striped > tbody > tr:nth-of-type({{forloop.parentloop.counter}}) {background-color: #FFD2D2;} </style>
		       {% endif %}
	        {% endfor %}
        {% endif %}
{% endif %}
        <tr>
            <td>
                
                               
            </td>
           <td>
                    {{problem.number}}
            </td>
            <td>
                
                <a style=" text-decoration: none;" href="{% url 'contest_problem' contest_id=contest.id problem_id=problem.number %}" title="">
		<style type="text/css">
		a:link {color: #BE77FF} /* 未访问的链接 */
		a:visited {color: #BE77FF} /* 已访问的链接 */
		a:hover {color: #9F35FF} /* 鼠标移动到链接上 */
		a:active {color: #9F35FF} /* 选定的链接 */
		</style>
                    {{problem.problem.title}}</a>
            </td>
           
{% if nowtime >= contest.start|date:"Y-m-d H:i:s" and nowtime <= contest.end|date:"Y-m-d H:i:s" %}
            <td>
                    ?          
            </td>
            <td>
                    ?         
            </td>
{% else %}
            <td>
                    {{problem.ac}}          
            </td>
            <td>
                    {{problem.submit}}          
            </td>
{% endif %}
        </tr>
      {% endfor %} 
        
        <tr>
            <td>
            </td>
            <td>            
            </td>
            <td>
            </td>
            <td>            
            </td>
            <td>            
            </td>
</table>
	<!--分页大法开启-->
 {% if problem_list.has_previous %}
        <a class='paginator' title='上一页' href='?page={{ problem_list.previous_page_number }}'><span>&lt;&lt;</span></a>
 {% endif %}
 {% for page in problem_list.paginator.page_range %}
     {% if page == problem_list.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
     
 {% endfor %}
 {% if problem_list.has_next %}
     <a class='paginator' title='下一页' href='?page={{ problem_list.next_page_number }}'><span>&gt;&gt;</span></a>
 {% endif %}
	<!--分页大法结束-->
	
</div>
