.gl_wrap li div a .sel{display:block;float:left;height:22px;line-height:22px;color:#666;padding:0 8px;background:#66a800}
.gl_wrap li div a .unsel{display:block;float:left;height:22px;line-height:22px;color:#666;padding:0 8px}

